[GateServer]
Port=8080

[VarifyServer]
Port=50051
Host=127.0.0.1
PoolSize=5

[RedisServer]
Port=6379
Host=127.0.0.1
password=replace_with_redis_password
size=5

[Mysql]
Host=127.0.0.1
Port=3306
PoolSize=5
User=replace_with_mysql_user
Password=replace_with_mysql_password
Schema=replace_with_database_name
